@use '@src/layout/layout';
@use '@src/components/counter_list/counter_list';

.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0;
}

.counter-list-wrapper {
    margin-top: 20px;
}
